body{
    background: #DCDCDC;
}

#portList{
    margin: -100px auto 0;
    background: #ffffff;
    width: 60%;;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
}
#portList tr th{
    color: #8B8B8B;
}

#portList tr td{
    font-weight: bold;
    text-align: center;
}

#portList tr td #edit-btn {
    cursor: pointer;
}

#portList tr td #delete-btn {
    cursor: pointer;
}