#oracle1 {
    display: block;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    width: 5%;
    padding: 1rem 4rem;
    font-weight: bold;
    color: #27acd9;
    transition: 0.5s;
    cursor: pointer;
}
#oracle1:hover {
    color: #fff;
    background: #27acd9;
}

#linode1 {

    display: block;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    width: 5%;
    padding: 1rem 4rem;
    font-weight: bold;
    color: #27acd9;
    transition: 0.5s;
    cursor: pointer;
}
#linode1:hover {
    color: #fff;
    background: #27acd9;
}

#linode2 {
    display: block;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    width: 5%;
    padding: 1rem 4rem;
    font-weight: bold;
    color: #27acd9;
    transition: 0.5s;
    cursor: pointer;
}
#linode2:hover {
    color: #fff;
    background: #27acd9;
}

